* {
  box-sizing: border-box;
}
body {
  margin: auto;
  line-height: 1.5;
}
header {
  padding: 15px;
  background-color: rgb(44, 39, 39);
  margin-bottom: 15px;
}
header nav {
  width: 960px;

  margin: 0 auto;
}
main {
  width: 960px;
  margin: 0 auto;
}
main :nth-child(1){
  padding: 10px 0;
}
header nav a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
}

section {
  width: 960px;
}
section :nth-child(1) {
  padding: 10px;
  padding-left: 0;
}
section :nth-child(2) {
  padding: 10px;
}
section :nth-child(3) {
  padding: 10px;
  padding-left: 10px;
  
}

section :nth-child(3) img {
  float: left;
  padding-left: 0;
  width: calc(100% / 2);
}

main figure p {
  overflow-y: scroll;
  height: 250px;
}

/* 3rd row image */
main :nth-child(3) figure {
  display: inline;
  padding-right: 10px;
  padding-top: 5px;
}
main :nth-child(3) img {
  width: calc(100% / 2);
  float: left;
}
main :nth-child(3) h3 {
  margin: 0;
  padding: 0;;
}

button{
  color: white;
  background-color: black;
  width: 200px;
}
footer {
  background-color: rgb(44, 39, 39);
  clear: both;
  padding: 52px;
  text-align: center;
  padding-top: 62px;
}
 main :nth-child(3){
   padding-bottom: 20p;
 }