* {
  box-sizing: border-box;
}
body {
  margin: auto;
  line-height: 1.5;
}
header {
  background-color: rgb(44, 39, 39);
  margin-top: 15px;
  margin-bottom: 15px;
padding-top: 0px;
padding-bottom: 0px;

}
header nav {
  width: 960px;
  margin: 0 auto;
}

  header nav img{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
margin-top: 0px;
padding-top: 20px;
position: relative;
top: 5px;
  }
  


header nav :nth-child(2){
  padding: 0px 30px;
  padding-bottom: 20px;
  padding-top: 0px;

}

header nav :nth-child(3){
  padding: 0px 30px;
}
header nav :nth-child(4){
  padding: 0px 30px;
}
header nav :nth-child(5){
  padding: 0px 30px;
}
header nav a {
  display: inline-block;
  padding-top: 0px;
 font-size: 18px;
 margin-bottom: 0px;
 
position: relative;
bottom: 20px;
}
main {
  width: 960px;
  margin: 0 auto;
}
main :nth-child(1){
  padding: 10px 0;
}
header nav a {
  margin: 0 20px;
  color: white;
  text-decoration: none;
}

section {
  width: 960px;
  display: flex;
}
section :nth-child(1) {
  padding: 5px 0;
  padding-left: 0;
  padding-right: 15px;
  padding-bottom: 15px;
}
section :nth-child(2) {
  padding: 5px 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

}
section :nth-child(3) {
  padding: 5px 0;
  padding-left: 15px;
  padding-right: 0px;
  padding-bottom: 15px;


  
}

section :nth-child(3) img {
  float: left;
  padding-left: 0;
  width: calc(100% / 2);
}

main figure p {
  overflow-y: scroll;
  height: 280px;
}

/* 3rd row image */
main :nth-child(3) figure {
  display: inline;
  padding-right: 10px;
  padding-top: 0px;
margin-bottom: 0px;
}
main :nth-child(3) img {
  width: calc(100% / 2);
  float: left;
}
main :nth-child(3) h3 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: bolder;
  text-transform: capitalize;

}

main :nth-child(3) p {
  margin: 0;
  padding: 0;
font-size: 20px;

}
main :nth-child(3){
  padding-bottom: 10px;
}

button{
  color: white;
  background-color: black;
  width: 200px;
  padding-top: 0px;
height: 50px;
width: 200px;
}
footer {
  margin-top: 0;
  background-color: rgb(44, 39, 39);
  clear: both;
  padding: 52px;
  text-align: center;
}
 figure{
   padding-top: 5px;
   margin-bottom: 0px;
   padding-bottom: 0;
 }

 